<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width" />
    <title>Step By Step React</title>
</head>
<body>
    @RenderBody()
    <script src="~/dist/main.bundle.js" asp-append-version="true"></script>   
    @RenderSection("scripts", required: false)
</body>
</html>
