
<h1>This is the entry page.</h1>
<div id="fillthis"></div>
<div id="fillthiswithjquery"></div>
<div id="fillthiswithes6lib"></div>
<div id="fillthiswithamd"></div>
<br /><br /><br />
<div id="basicreactcomponent"></div>
<br /><br /><br />
<div id="reactcomponentwithapidata"></div>
<div id='calendar'></div>
@section scripts {
    @*<script src="~/" asp-append-version="true"></script>*@
}